MicrocopNalogaV2/MicrocopNalogaV2/obj/
MicrocopNalogaV2/MicrocopNalogaV2/bin/
MicrocopNalogaV2/MicrocopNalogaV2.Data/obj/
MicrocopNalogaV2/MicrocopNalogaV2.Data/bin/
MicrocopNalogaV2/MicrocopNalogaV2.Services/obj/
MicrocopNalogaV2/MicrocopNalogaV2.Services/bin/
MicrocopNalogaV2/MicrocopNaloga.Tests/obj/
MicrocopNalogaV2/MicrocopNaloga.Tests/bin/
